---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="froppii">
	<header>
		<Header />
	</header>
	<main>
		<h1>froppii</h1>
	</main>
</Layout>
