---
const {title} = Astro.props;
---

<html lang="en">
    <head>
        <title>{title}</title>
    </head>
    <body>
        <header>
            <slot name="header" />
        </header>
        <main class="container">
            <slot />
        </main>
        <footer>
            <slot name="footer" />
        </footer>
    </body>
</html>

<style>
    body {
        margin: 0;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        padding: 1.5rem;
    }
</style>